<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="initService" class="com.spring.service.InitService">
    </bean>

    <bean id="groupDao" class="com.spring.dao.GroupDao">

    </bean>
    <bean id="groupService" class="com.spring.service.GroupServiceImpl">

    </bean>

    <bean id="shadeDao" class="com.spring.dao.ShadeDao">

    </bean>
    <bean id="shadeService" class="com.spring.service.ShadeServiceImpl">

    </bean>
</beans>