<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="initService" class="com.spring.service.InitService">-->
    <!--</bean>-->

    <!--<bean id="groupRmi" class="com.spring.dao.impl.GroupRmi">-->

    <!--</bean>-->
    <bean id="groupService" class="com.spring.service.impl.GroupServiceImpl">

    </bean>

    <!--<bean id="shadeDao" class="com.spring.dao.IShadeDao">-->

    <!--</bean>-->
    <bean id="shadeService" class="com.spring.service.impl.ShadeServiceImpl">

    </bean>

    <bean id="logService" class="com.spring.service.impl.LogServiceImpl">

    </bean>

    <bean id="deviceService" class="com.spring.service.impl.DeviceServiceImpl">

    </bean>
</beans>